@import "../mixins.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background-size: cover;
  transition: opacity 1s ease-in-out;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 24px;

  .text_box {
    backface-visibility: hidden;
    span {
      display: block;
    }
    .main {
      letter-spacing: 6.5px;
      text-transform: uppercase;
      backface-visibility: hidden;
      animation: moveTextInRight 1s ease-out 1s;
      animation-fill-mode: backwards;
    }
    .sub {
      letter-spacing: 7px;
      animation: moveTextInLeft 1s ease-out 1s;
      animation-fill-mode: backwards;
      padding-bottom: 16px;
    }
  }
  .button {
    background-color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.4);
    transition: transform 0.3s;
    text-decoration: none;
    cursor: pointer;
    animation: 1s showArrow ease-out 2s;
    animation-fill-mode: backwards;
    span {
      color: #000;
      font-size: 18px;
    }
    &:hover {
      box-shadow: 0 2px 4px 2px rgba(0,0,0,0.4);
      transform: translateY(2px);
    }
  }
  .arrow_expand {
    display: block;
    position: absolute;
    bottom: 0;
    animation: 1s showArrow ease-out 2s, 1s infinite moveArrowDownAndUp ease-out 3s;
    animation-fill-mode: backwards, forwards;
    .material-icons {
      display: block;
    }
  }
}

@keyframes moveTextInRight {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveTextInLeft {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  75% {
    transform: translateX(20px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes showArrow {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveArrowDownAndUp {
  1% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
